@model List<Blog.Models.Category>

@{
    ViewBag.Title = "List";
}

<div class="container">
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-sm-6 text-center text-uppercase">
                <p>
                    <h2>
                        @Html.ActionLink(string.Format($"{category.Name} ({category.Articles.Count})"),
                        "ListArticles", "Home", new { @categoryId = category.Id }, null)
                       
                </h2>
                   
            </p>
        </div>
        }
        <div>
            <a href="http://localhost:56157/Home/ListArticles?categoryId=3">
            <img src="@Url.Content("/Content/Pictures/csgo.jpg")" alt="CS" style="float:left;width:550px;height:600px;" />
            </a>
        </div>
        <div>
            <a href="http://localhost:56157/Home/ListArticles?categoryId=4">
                <img src="@Url.Content("/Content/Pictures/dota-2-logo-20156-hd-wallpapers.jpg")" alt="CS" style="float:right;width:550px;height:600px;" />
            </a>
        </div>
    </div>
</div>

<hr />
